<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!-- EN: Autocasting interval while drafted (only applies to patched psycasts) -->
  <BetterAutocastVPE.AutocastIntervalDrafted.Description>Intervalo de autolanzamiento mientras está reclutado (solo se aplica a los psiconjuros parcheados)</BetterAutocastVPE.AutocastIntervalDrafted.Description>
  <!-- EN: Drafted autocasting interval: {0} ticks -->
  <BetterAutocastVPE.AutocastIntervalDrafted>Intervalo de autolanzamiento reclutado: {0} ticks</BetterAutocastVPE.AutocastIntervalDrafted>
  <!-- EN: Autocasting interval while undrafted (only applies to patched psycasts) -->
  <BetterAutocastVPE.AutocastIntervalUndrafted.Description>Intervalo de autolanzamiento mientras no está reclutado (solo se aplica a los psiconjuros parcheados)</BetterAutocastVPE.AutocastIntervalUndrafted.Description>
  <!-- EN: Undrafted autocasting interval: {0} ticks -->
  <BetterAutocastVPE.AutocastIntervalUndrafted>Intervalo de autolanzamiento sin reclutar: {0} ticks</BetterAutocastVPE.AutocastIntervalUndrafted>
  <!-- EN: The defName of the JobDef -->
  <BetterAutocastVPE.BlockedJobs.defNameExplanation>El defName del JobDef</BetterAutocastVPE.BlockedJobs.defNameExplanation>
  <!-- EN: <b>Really uncheck all checkboxes?</b> -->
  <BetterAutocastVPE.BlockedJobs.DisableAll.Confirmation><b>¿Realmente deseas desmarcar todas las casillas?</b></BetterAutocastVPE.BlockedJobs.DisableAll.Confirmation>
  <!-- EN: Uncheck all checkboxes -->
  <BetterAutocastVPE.BlockedJobs.DisableAll>Desmarcar todas las casillas</BetterAutocastVPE.BlockedJobs.DisableAll>
  <!-- EN: <b>Really check all checkboxes?</b> -->
  <BetterAutocastVPE.BlockedJobs.EnableAll.Confirmation><b>¿Realmente deseas marcar todas las casillas?</b></BetterAutocastVPE.BlockedJobs.EnableAll.Confirmation>
  <!-- EN: Check all checkboxes -->
  <BetterAutocastVPE.BlockedJobs.EnableAll>Marcar todas las casillas</BetterAutocastVPE.BlockedJobs.EnableAll>
  <!-- EN: Manage which jobs should not be interrupted for autocasting. -->
  <BetterAutocastVPE.BlockedJobs.Explanation>Gestiona qué trabajos no deben interrumpirse para el autolanzamiento.</BetterAutocastVPE.BlockedJobs.Explanation>
  <!-- EN: A list of all JobDefs and a toggle on if it should  -->
  <!-- EN: <b><i>not</i></b> -->
  <!-- EN:  be interrupted for autocasting. -->
  <BetterAutocastVPE.BlockedJobs.Manager.Explanation>Una lista de todos los JobDefs y una opción para alternar si <b><i>no</i></b> deben ser interrumpidos por el autolanzamiento.</BetterAutocastVPE.BlockedJobs.Manager.Explanation>
  <!-- EN: JobDefs that don't exist but are still configured.\nBecause they are from uninstalled mods, removed by updates, etc.\nThey can be kept without problem or cleaned up here. -->
  <BetterAutocastVPE.BlockedJobs.Nonexistent.Explanation>JobDefs que no existen pero siguen configurados.\nDebido a que provienen de mods desinstalados, eliminados por actualizaciones, etc.\nPueden conservarse sin problemas o limpiarse aquí.</BetterAutocastVPE.BlockedJobs.Nonexistent.Explanation>
  <!-- EN: The reportString of the JobDef -->
  <BetterAutocastVPE.BlockedJobs.reportStringExplanation>El reportString del JobDef</BetterAutocastVPE.BlockedJobs.reportStringExplanation>
  <!-- EN: Blocked Jobs -->
  <BetterAutocastVPE.BlockedJobs>Trabajos bloqueados</BetterAutocastVPE.BlockedJobs>
  <!-- EN: Cast while drafted -->
  <BetterAutocastVPE.CastDrafted>Lanzar mientras está reclutado</BetterAutocastVPE.CastDrafted>
  <!-- EN: Cast while undrafted -->
  <BetterAutocastVPE.CastUndrafted>Lanzar sin reclutar</BetterAutocastVPE.CastUndrafted>
  <!-- EN: "In range" below considers allowed areas when undrafted, but ignores them when drafted.\n\nForbidden targets are ignored unless drafted.\nThis includes checking if they are in allowed areas, or reserved by a pawn.\n\nAll psycasts check if the target is valid by the regular rules before casting.\n\nAll psycasts that target pawns without specific hediffs also check that casting wil not be considered a hostile action. -->
  <BetterAutocastVPE.Clarification>"En alcance" más abajo tiene en cuenta las áreas permitidas cuando no está reclutado, pero las ignora cuando está reclutado.\n\nLos objetivos prohibidos se ignoran a menos que esté reclutado.\nEsto incluye verificar si están en áreas permitidas o reservados por un colono.\n\nTodos los psiconjuros verifican si el objetivo es válido según las reglas habituales antes de lanzarse.\n\nTodos los psiconjuros dirigidos a peones sin hediffs específicos también verifican que el lanzamiento no se considere una acción hostil.</BetterAutocastVPE.Clarification>
  <!-- EN: Log messages for debugging autocasting. -->
  <BetterAutocastVPE.DebugLog>Registrar mensajes para depurar el autolanzamiento.</BetterAutocastVPE.DebugLog>
  <!-- EN: The defName of the MentalStateDefs -->
  <BetterAutocastVPE.IgnoredMentalStates.defNameExplanation>El defName de los MentalStateDefs</BetterAutocastVPE.IgnoredMentalStates.defNameExplanation>
  <!-- EN: Manage which mental states should  -->
  <!-- EN: <b><i>not</i></b> -->
  <!-- EN:  be targeted by pawns autocasting Word of Serenity. -->
  <BetterAutocastVPE.IgnoredMentalStates.Explanation>Gestiona qué estados mentales <b><i>no</i></b> deben ser objetivo de los peones que autolanzan Palabra de serenidad.</BetterAutocastVPE.IgnoredMentalStates.Explanation>
  <!-- EN: The label of the MentalStateDefs -->
  <BetterAutocastVPE.IgnoredMentalStates.labelExplanation>La etiqueta de los MentalStateDefs</BetterAutocastVPE.IgnoredMentalStates.labelExplanation>
  <!-- EN: A list of all MentalStateDefs and a toggle on if they should  -->
  <!-- EN: <b><i>not</i></b> -->
  <!-- EN:  be targeted by pawns autocasting by Word of Serenity. -->
  <BetterAutocastVPE.IgnoredMentalStates.Manager.Explanation>Una lista de todos los MentalStateDefs y una opción para alternar si <b><i>no</i></b> deben ser objetivo de los peones que autolanzan Palabra de serenidad.</BetterAutocastVPE.IgnoredMentalStates.Manager.Explanation>
  <!-- EN: MentalStateDefs that don't exist but are still configured.\nBecause they are from uninstalled mods, removed by updates, etc.\nThey can be kept without problem or cleaned up here. -->
  <BetterAutocastVPE.IgnoredMentalStates.Nonexistent.Explanation>MentalStateDefs que no existen pero siguen configurados.\nDebido a que provienen de mods desinstalados, eliminados por actualizaciones, etc.\nPueden conservarse sin problemas o limpiarse aquí.</BetterAutocastVPE.IgnoredMentalStates.Nonexistent.Explanation>
  <!-- EN: Ignored mental states -->
  <BetterAutocastVPE.IgnoredMentalStates>Estados mentales ignorados</BetterAutocastVPE.IgnoredMentalStates>
  <!-- EN: Minimum psyfocus amount for a colonist to autocast -->
  <BetterAutocastVPE.MinFocusThreshold.Description>Cantidad mínima de psicoconcentración para que un colono realice el autolanzamiento</BetterAutocastVPE.MinFocusThreshold.Description>
  <!-- EN: Minimum psyfocus threshold: {0} -->
  <BetterAutocastVPE.MinFocusThreshold>Umbral mínimo de psicoconcentración: {0}</BetterAutocastVPE.MinFocusThreshold>
  <!-- EN: <b>No nonexistent defs configured, nothing to do here.</b> -->
  <BetterAutocastVPE.NoNonexistentDefs><b>No hay defs inexistentes configurados, nada que hacer aquí.</b></BetterAutocastVPE.NoNonexistentDefs>
  <!-- EN: <b>Really reset settings?</b> -->
  <BetterAutocastVPE.ResetSettings.Confirmation><b>¿Realmente deseas restablecer los ajustes?</b></BetterAutocastVPE.ResetSettings.Confirmation>
  <!-- EN: Reset settings -->
  <BetterAutocastVPE.ResetSettings>Restablecer ajustes</BetterAutocastVPE.ResetSettings>
  <!-- EN: Better Autocasting for VPE -->
  <BetterAutocastVPE.SettingsCategory>Better Autocasting for VPE</BetterAutocastVPE.SettingsCategory>
  <!-- EN: Show target validation messages - used for debugging -->
  <BetterAutocastVPE.ShowValidationMessages>Mostrar mensajes de validación de objetivos (usado para depuración)</BetterAutocastVPE.ShowValidationMessages>
  <!-- EN: Target colonists -->
  <BetterAutocastVPE.TargetColonists>Apuntar a colonos</BetterAutocastVPE.TargetColonists>
  <!-- EN: Target colony animals -->
  <BetterAutocastVPE.TargetColonyAnimals>Apuntar a animales de la colonia</BetterAutocastVPE.TargetColonyAnimals>
  <!-- EN: Target enemies -->
  <BetterAutocastVPE.TargetEnemies>Apuntar a enemigos</BetterAutocastVPE.TargetEnemies>
  <!-- EN: Target prisoners -->
  <BetterAutocastVPE.TargetPrisoners>Apuntar a prisioneros</BetterAutocastVPE.TargetPrisoners>
  <!-- EN: Target self -->
  <BetterAutocastVPE.TargetSelf>Apuntar a sí mismo</BetterAutocastVPE.TargetSelf>
  <!-- EN: Target slaves -->
  <BetterAutocastVPE.TargetSlaves>Apuntar a esclavos</BetterAutocastVPE.TargetSlaves>
  <!-- EN: Target visitors -->
  <BetterAutocastVPE.TargetVisitors>Apuntar a visitantes</BetterAutocastVPE.TargetVisitors>
  <!-- EN: Target wild animals -->
  <BetterAutocastVPE.TargetWildAnimals>Apuntar a animales salvajes</BetterAutocastVPE.TargetWildAnimals>
  <!-- EN: Are you sure you want to uninstall the mod from the current game -->
  <BetterAutocastVPE.Uninstall.Confirmation>¿Seguro que deseas desinstalar el mod de la partida actual?</BetterAutocastVPE.Uninstall.Confirmation>
  <!-- EN: Load a save to uninstall this mod from it -->
  <BetterAutocastVPE.Uninstall.Disabled>Carga una partida guardada para desinstalar este mod de ella</BetterAutocastVPE.Uninstall.Disabled>
  <!-- EN: Removes all elements of this mod from the currently loaded game so you can safely uninstall the mod.\nCreates a backup save both before and after the removal, then puts you in the main menu.\n\nAlso turns off autocasting for all patched psycasts. For technical reasons, this does not check if they can be autocast without the mod and may need to be re-enabled on reload.\n\nOnly works if you currently have a save loaded. -->
  <BetterAutocastVPE.Uninstall.Explanation>Elimina todos los elementos de este mod de la partida cargada actualmente para que puedas desinstalar el mod de forma segura.\nCrea un guardado de respaldo tanto antes como después de la eliminación, y luego te lleva al menú principal.\n\nTambién desactiva el autolanzamiento para todos los psiconjuros parcheados. Por razones técnicas, esto no verifica si se pueden autolanzar sin el mod y es posible que deban reactivarse al recargar.\n\nSolo funciona si actualmente tienes una partida cargada.</BetterAutocastVPE.Uninstall.Explanation>
  <!-- EN: Uninstall the mod from the current game -->
  <BetterAutocastVPE.Uninstall>Desinstalar el mod de la partida actual</BetterAutocastVPE.Uninstall>
</LanguageData>