<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!-- EN: Common -->
  <SettingsCommonTab>Común</SettingsCommonTab>
  <!-- EN: Stats -->
  <SettingsStatTab>Estadísticas</SettingsStatTab>
  <!-- EN: Experimental -->
  <SettingsExperimentalTab>Experimental</SettingsExperimentalTab>
  <!-- EN: Mods integration -->
  <SettingsIntegrationTab>Integración de mods</SettingsIntegrationTab>
  <!-- EN: Colors -->
  <SettingsColorsTab>Colores</SettingsColorsTab>

  <!-- EN: Tab width {0} px -->
  <GearTabWidth>Ancho de la pestaña {0} px</GearTabWidth>
  <!-- EN: Show debuffs -->
  <StatDebuffVisible>Mostrar penalizadores</StatDebuffVisible>
  <!-- EN: Auto rename bill on create -->
  <NIT_AutoRenameBillLabelSettings>Renombrar proyecto automáticamente al crear</NIT_AutoRenameBillLabelSettings>

  <!-- EN: Enable the quality display as stars -->
  <NIT_EnableStarsAsQuality>Mostrar calidad como estrellas</NIT_EnableStarsAsQuality>
  <!-- EN: Enable option to open apparel master -->
  <NIT_EnableOptionToOpenApparelMaster>Habilitar opción para abrir gestor de ropa</NIT_EnableOptionToOpenApparelMaster>
  <!-- EN: Enable progress bars -->
  <NIT_EnableProgressBars>Habilitar barras de progreso</NIT_EnableProgressBars>

  <!-- EN: Enable auto-wear after crating apparel (may cause mod conflicts) -->
  <NIT_EnableAutoWear>Habilitar auto-vestir tras fabricar ropa (puede causar conflictos)</NIT_EnableAutoWear>

  <!-- EN: Use vanilla buttons -->
  <NIT_CLI_UseVanillaButtons>Usar botones originales</NIT_CLI_UseVanillaButtons>
  <!-- EN: Show weapons in equipment section -->
  <NIT_ShowWeaponsInEquipmentSection>Mostrar armas en la sección de equipo</NIT_ShowWeaponsInEquipmentSection>

  <!-- EN: Depression mode {0} -->
  <NIT_DepressionMode>Modo depresión {0}</NIT_DepressionMode>
  <!-- EN: Your depression color -->
  <NIT_DepressionColor>Tu color de depresión</NIT_DepressionColor>
  <!-- EN: Showcase -->
  <NIT_Showcase>Escaparate</NIT_Showcase>
  <!-- EN: Only on hover -->
  <NIT_OnlyOnHover>Solo al pasar el ratón</NIT_OnlyOnHover>
  <!-- EN: Match to Quality Colors -->
  <NIT_MatchToQualityColorsMod>Coincidir con colores de calidad (mod)</NIT_MatchToQualityColorsMod>
  <!-- EN: Default -->
  <NIT_Reset>Restablecer</NIT_Reset>
</LanguageData>