<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!-- EN: General -->
  <VEF_GeneralTitle>General</VEF_GeneralTitle>
  <!-- CSG -->
  <!-- EN: Custom structure generation: -->
  <CSGTitle>Generación de estructuras personalizada:</CSGTitle>
  <!-- EN: Enable structure generation debugging log:  -->
  <CSGLog>Activar registro de depuración de generación de estructuras:</CSGLog>

  <!-- Toggleable patches -->
  <!-- EN: Toggleable patches -->
  <VEF_TPTitle>Parches activables</VEF_TPTitle>
  <!-- EN: All settings need a restart to be applied -->
  <NeedRestart>Todos los ajustes necesitan un reinicio para aplicarse</NeedRestart>
  <!-- EN: {0} patches found -->
  <XPatchFound>se encontraron {0} parches</XPatchFound>

  <!-- Weather damages -->
  <!-- EN: Weather damages -->
  <VEF.WeatherDamages>Daños climáticos</VEF.WeatherDamages>
  <!-- EN: {0} -->
  <VEF.EnableWeatherDamage>{0}</VEF.EnableWeatherDamage>
  <!-- Faction Discovery -->
  <!-- EN: Faction Discovery -->
  <FDTitle>Descubrimiento de facciones</FDTitle>
  <!-- EN: You first need to load a save -->
  <NeedToBeInGame>Primero debes cargar una partida</NeedToBeInGame>
  <!-- EN: Add faction(s) -->
  <AskForPopUp>Añadir facción(es)</AskForPopUp>
  <!-- EN: Click this to be asked for each faction if you want it to be added to your game -->
  <AskForPopUpExplained>Haz clic aquí para que se te pregunte por cada facción si quieres que se añada a tu partida</AskForPopUpExplained>
  <!-- EN: {0} faction(s) can be added to your current save -->
  <CanAddXFaction>Se pueden añadir {0} facción(es) a tu partida actual</CanAddXFaction>

  <!-- EN: Disable mod source reports -->
  <VEF.DisableModSourceReport>Desactivar informes de origen de mods</VEF.DisableModSourceReport>

  <!-- EN: Search:  -->
  <VEF.Shields.Search>Buscar:</VEF.Shields.Search>
  <!-- EN: Reset mod settings to default -->
  <VEF.Shields.ResetModSettingsToDefault>Restablecer ajustes del mod por defecto</VEF.Shields.ResetModSettingsToDefault>
  <!-- EN: Set weapons to be usable or not usable with shields. -->
  <VEF.Shields.ExplanationTitle>Establece si las armas son utilizables o no con escudos.</VEF.Shields.ExplanationTitle>
  <!-- EN: Show melee weapons -->
  <VEF.Shields.ShowMeleeWeapons>Mostrar armas cuerpo a cuerpo</VEF.Shields.ShowMeleeWeapons>
  <!-- EN: Show range weapons -->
  <VEF.Shields.ShowRangeWeapons>Mostrar armas a distancia</VEF.Shields.ShowRangeWeapons>
	
	<!-- EN: Disable Texture Caching -->
  <VEF_DisableTextureCaching>Desactivar caché de texturas</VEF_DisableTextureCaching>
	<!-- EN: Enable PipeSystem no storage alert -->
  <VEF_EnablePipeSystemNoStorageAlert>Activar alerta de falta de almacenamiento en PipeSystem</VEF_EnablePipeSystemNoStorageAlert>
	<!-- EN: Faction Discovery -->
  <VEF_FactionDiscovery>Descubrimiento de facciones</VEF_FactionDiscovery>
	<!-- EN: Custom Structure Generation: -->
  <VEF_CustomStructureGeneration>Generación de estructuras personalizada:</VEF_CustomStructureGeneration>
	<!-- EN: Texture Variations: -->
  <VEF_TextureVariations>Variaciones de textura:</VEF_TextureVariations>
	<!-- EN: Verbose logging -->
  <VEF_VerboseLogging>Registro detallado</VEF_VerboseLogging>
	<!-- EN: Unforbid mined ores -->
  <VEF_UnforbidMinedOres>Permitir minerales minados</VEF_UnforbidMinedOres>
	<!-- EN: Never -->
  <VEF_Never>Nunca</VEF_Never>
	<!-- EN: Home Area -->
  <VEF_HomeArea>Área del hogar</VEF_HomeArea>
	<!-- EN: Always -->
  <VEF_Always>Siempre</VEF_Always>
	<!-- EN: Never unforbid mined ores (this is how the base game works for non-human pawns, such as animals and mechs) -->
  <VEF_NeverDesc>Nunca permitir minerales minados (así funciona el juego base para peones no humanos, como animales y mecanoides)</VEF_NeverDesc>
	<!-- EN: Ores mined by pawns are only unforbidden if mined in the home area -->
  <VEF_HomeAreaDesc>Los minerales minados por peones solo se permiten si se minan en el área del hogar</VEF_HomeAreaDesc>
	<!-- EN: Ores mined by pawns are always unforbidden -->
  <VEF_AlwaysDesc>Los minerales minados por peones siempre se permiten</VEF_AlwaysDesc>
</LanguageData>