<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <!-- EN: VFE - Deserters -->
  <VFEDeserters>VFE - Deserters</VFEDeserters>
    <!-- EN: Visibility change per day: {0} -->
  <VFED.VisibilityChangePerDay>Cambio de visibilidad por día: {0}</VFED.VisibilityChangePerDay>
    <!-- EN: Intel from extracting intel: {0} -->
  <VFED.IntelFromExtractingIntel>Inteligencia por extraer inteligencia: {0}</VFED.IntelFromExtractingIntel>
    <!-- EN: Visibility gain from surveillance pillar: {0} -->
  <VFED.VisibilityFromPillar>Ganancia de visibilidad por pilar de vigilancia: {0}</VFED.VisibilityFromPillar>
    <!-- EN: Response time multiplier: {0} -->
  <VFED.ResponseTimeMultiplier>Multiplicador de tiempo de respuesta: {0}</VFED.ResponseTimeMultiplier>
</LanguageData>