<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!-- EN: General -->
  <Menu_General>General</Menu_General>
  <!-- EN: Celestial -->
  <Menu_Celestial>Celestial</Menu_Celestial>
  <!-- EN: Shadows -->
  <Menu_Shadows>Sombras</Menu_Shadows>
  <!-- EN: Realism Rebalance -->
  <Menu_RealismRebalance>Reequilibrio de realismo</Menu_RealismRebalance>
  <!-- EN: Temperature and Climate -->
  <Menu_Temperature>Temperatura y clima</Menu_Temperature>
  <!-- EN: Info -->
  <Menu_Info>Información</Menu_Info>
</LanguageData>